/**********************************************
                
                    NAV BAR

***********************************************/

nav,
footer,
.contact-info,
.waybill-info,
.payment-info {
  background: #f6f6f6;
}

/* welcome bg img */

.hero-container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
}

.hero-image {
  width: 100%;
  position: absolute;
}

.hero-layer {
  width: 100%;
  max-height: inherit;
  z-index: 3;
  display: flex;
  text-align: center;
  color: #fff;
}

.hero-text {
  margin: auto;
}

/* catalog-content */

.catalog-label,
.slider-label {
  background-color: rgba(115, 15, 17, 1);
  color: rgb(233, 233, 233);
  width: 30%;
  margin-left: 0;
  display: flex;
  margin-bottom: 2.5rem;
}

.catalog-label-text,
.slider-label-text {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 600;
}

/* catalog img */

.men-top,
.women-short,
.women-set,
.men-bottom {
  position: relative;
}

.catalog-text-bg {
  position: absolute;
  z-index: 1;
  background-color: rgba(15, 7, 7, 0.38);
  color: #fff !important;
  font-weight: 600;
  padding: 1rem !important;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/**********************************************
                
                    SHOP

***********************************************/

.open-filter {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background-color: #fff;
  align-items: center;
  padding: 0.5rem;
  z-index: 2;
}

.filter-mn {
  border-bottom: 0.2rem solid rgba(114, 27, 27, 1);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

/* .shop-col */

/**********************************************
                
                    SHOPPING CART

***********************************************/

.cart {
  width: 95%;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.cart-head {
  width: 100%;
  color: #fff;
  background: rgba(114, 27, 27, 1);
  border: 0.15rem solid rgba(114, 27, 27, 1);
  display: flex;
  padding: 0 0.5rem;
}

.cart-body {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-top: none;
  border-bottom: none;
}

.cart-br {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.cart-addbtn {
  border-radius: 0.6rem;
  padding: 0.2rem 1rem;
  font-size: large;
  width: 100%;
}

.total-sec {
  width: 12rem;
}

.cart-total {
  border-bottom: 0.15rem solid #000;
}

/**********************************************
                
                check out

***********************************************/

/* .contact-info {
    border-radius: ;
} */

.mastercard-img {
  height: 1.4rem;
  width: 1.5rem;
}

.paystack-img {
  height: 1.5rem;
}

/**********************************************
                
                    FOOTER

***********************************************/

/* footer {
    height: 6rem;
} */

.footer-logo {
  height: 3rem;
}

.email-footer-label {
  background-color: #730f11;
  width: 5rem !important;
}

.email-footer {
  height: 5rem;
  margin-left: auto;
}

.email-input-footer {
  background-color: #ede6e6 !important;
}

.signup-align {
  text-align: end;
}

@media (max-width: 280px) {
  body {
    display: none;
  }
}

@media (min-width: 320px) {
  .mx-s-auto {
    width: 100%;
  }

  .email-text-align {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .signup-link {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .br-on-mobile {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .payment-method {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .payment-icon {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .mx-s-auto {
    margin-left: auto;
    width: unset;
  }

  .email-text-align {
    margin-bottom: 1.5rem;
  }

  .signup-align {
    text-align: right;
    margin-top: 2rem;
  }

  .br-on-mobile {
    display: unset;
    margin-right: auto;
  }

  .payment-method {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: unset;
  }

  .payment-icon {
    margin: unset;
  }
}

/**********************************************
        MEDIA QUERY FOR SMALL SCREENS
***********************************************/

@media (min-width: 320px) {
  /* main-content */

  /* hero container */

  .hero-container {
    margin-bottom: 8rem;
  }

  /* catalog-content */

  /* catalog */

  .catalog-section {
    margin-bottom: 1rem;
  }

  .catalog-label {
    display: none;
  }

  .open-filter {
    display: initial;
  }

  .close-filter {
    z-index: 22;
    position: relative;
  }

  /* shop */

  /* filter col */

  .filter-col {
    margin-top: unset;
  }

  .d-s-none {
    display: none;
  }

  .d-l-none {
    display: unset;
  }

  /* shop catalog */

  .shop-catalog {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}

/**********************************************
        MEDIA QUERY FOR LARGE SCREENS
***********************************************/

@media (min-width: 768px) {
  /* nav/sidebar */

  .sm-nav {
    display: none;
  }

  .bg-nav {
    display: flex;
    margin: 0;
  }

  /* main-content */

  /* hero container */

  .hero-container {
    margin-bottom: 5.5rem;
  }

  /* catalog-content */

  .catalog-section {
    margin-bottom: 8rem;
  }

  .catalog-label {
    display: flex;
  }

  /* shop */

  /* filter col */

  .filter-col {
    margin-top: 5rem;
  }

  .d-s-none {
    display: unset;
  }

  .d-l-none {
    display: none;
  }

  /* shop catalog */

  .shop-catalog {
    margin-top: 5.5rem;
    margin-bottom: 2rem;
  }
}
