/**********************************************
                
                    NAV BAR

***********************************************/

nav,
footer,
.contact-info,
.waybill-info,
.payment-info {
  background: #f6f6f6;
}

/* small screen sidebar css */

#sideBar {
  position: fixed;
  width: 0;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  background: #fff;
  z-index: 1;
  transition: 0.35s;
  overflow-y: scroll;
}

#sideBar .sidebar-nav {
  height: 1.5rem;
}

#sideBar .sidebar-links {
  position: relative;
  top: 0.5rem;
  left: 0.6rem;
  line-height: 3rem;
  transition: 0.1s;
}

#sideBar .sidebar-links .sub-links {
  line-height: 1.2rem;
}

.nav-sm-container {
  height: 100%;
}

.open-btn {
  display: flex;
  align-items: center;
}

/* welcome bg img */

.hero-container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
}

.hero-image {
  width: 100%;
  position: absolute;
}

.hero-layer {
  width: 100%;
  max-height: inherit;
  z-index: 3;
  display: flex;
  text-align: center;
  color: #fff;
}

.hero-text {
  margin: auto;
}

/* catalog-content */

.catalog-label,
.slider-label {
  background-color: rgba(115, 15, 17, 1);
  color: #fff;
  width: 30%;
  height: 3.2rem;
  margin-left: 0;
  display: flex;
  margin-bottom: 2.5rem;
}

.catalog-label-text {
  font-size: 1.5rem;
}

/* catalog imgs */

.men-top,
.women-short,
.women-set,
.men-bottom {
  position: relative;
}

.catalog-img {
  position: absolute;
  left: 0;
  top: 0;
}

.catalog-text-bg {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 10rem;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.men-top-img,
.men-bottom-img,
.women-set-img,
.women-short-img {
  width: 100%;
}

.men-top-img,
.women-set-img,
.women-short-img,
.men-bottom-img {
  height: 100%;
}

/* slider section */

.slider-container {
  width: 25rem !important;
  margin: auto;
  border: 1px solid red;
  overflow: visible !important;
}

.image-slide {
  display: flex;
  width: 300%;
}

.slide-img-container {
  width: 25rem !important;
  height: 30rem !important;
}

.slider-img {
  width: 100%;
  height: 100%;
}

/**********************************************
                
                    SHOP

***********************************************/

.open-filter {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background-color: #fff;
  align-items: center;
  padding: 0.5rem;
  z-index: 2;
}

.filter-borderbl {
  border-bottom: 0.1rem solid #000;
}

.filter-mn {
  border-bottom: 0.2rem solid rgba(114, 27, 27, 1);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.filter-sublinks {
  font-size: 0.85rem;
  line-height: 2.3rem;
}

/* .shop-col */

.shop-col {
  position: relative;
}

.col-header {
  position: absolute;
  top: -2.2rem;
  font-weight: 700;
}

.pages-catalog {
  font-size: 0.85rem;
  height: 1.4rem;
  width: 1.4rem;
  line-height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}

.pages-catalog:active {
  background: rgba(51, 51, 51, 1);
  color: #fff;
}

/* dropdown */

.filter-borderbl .dropdown-menu {
  position: static !important;
  float: none;
  border: transparent;
  background: transparent;
  transform: unset !important;
  padding: 0;
  margin: 0;
}

.filter-borderbl .dropdown-menu,
.dropdown-item {
  font-weight: 500 !important;
  padding-left: 1rem;
  line-height: 1.8rem;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: rgba(114, 27, 27, 1) !important;
  color: #fff;
}

.filter-borderbl .btn {
  padding: unset;
}

.dropdown-toggle::after {
  display: none;
}

/**********************************************
                
                    SHOPPING CART

***********************************************/

.cart {
  width: 95%;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.cart-head {
  width: 100%;
  color: #fff;
  background: rgba(114, 27, 27, 1);
  border: 0.15rem solid rgba(114, 27, 27, 1);
  display: flex;
  padding: 0 0.5rem;
}

.cart-body {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-top: none;
  border-bottom: none;
}

.cart-br {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.cart-addbtn {
  border-radius: 0.6rem;
  padding: 0.2rem 1rem;
  font-size: large;
  width: 100%;
}

.total-sec {
  width: 12rem;
}

.cart-total {
  border-bottom: 0.15rem solid #000;
}

/**********************************************
                
                check out

***********************************************/

/* .contact-info {
    border-radius: ;
} */

.mastercard-img {
  height: 1.4rem;
  width: 1.5rem;
}

.paystack-img {
  height: 1.5rem;
}

/**********************************************
                
                    FOOTER

***********************************************/

/* footer {
    height: 6rem;
} */

.footer-logo {
  height: 3rem;
}

.email-footer-label {
  background-color: #730f11;
  width: 5rem !important;
}

.email-footer {
  width: 25rem !important;
  height: 5rem;
  margin-left: auto;
}

.email-input-footer {
  background-color: #ede6e6 !important;
}

.signup-align {
  text-align: end;
}

@media (min-width: 320px) {
  .mx-s-auto {
    width: 100%;
  }

  .email-text-align {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .signup-align {
    text-align: left;
  }

  .signup-link {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .br-on-mobile {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .payment-method {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .payment-icon {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .mx-s-auto {
    margin-left: auto;
    width: unset;
  }

  .email-text-align {
    margin-bottom: 1.5rem;
  }

  .signup-align {
    text-align: right;
    margin-top: 2rem;
  }

  .br-on-mobile {
    display: unset;
    margin-right: auto;
  }

  .payment-method {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: unset;
  }

  .payment-icon {
    text-align: unset;
  }
}

/**********************************************
        MEDIA QUERY FOR SMALL SCREENS
***********************************************/

@media (min-width: 320px) {
  /* nav/sidebar */

  .bg-nav {
    display: none;
  }

  .nav-logo-container {
    height: 2rem !important;
    align-self: center;
  }

  #sideBar .sidebar-links {
    font-size: large;
  }

  #sideBar .sidebar-links .sub-links {
    font-size: normal;
  }

  /* main-content */

  /* hero container */

  .hero-container {
    margin-bottom: 2rem;
  }

  /* catalog-content */

  /* catalog */

  .catalog-section {
    margin-bottom: 1rem;
  }

  .catalog-label {
    display: none;
  }

  .catalog-image-container {
    margin: 0 1rem;
    height: unset;
  }

  .men-top {
    order: 4;
  }

  .men-bottom {
    order: 3;
  }

  .women-catalog {
    order: 2;
  }

  .men-top,
  .men-bottom {
    height: 20rem;
  }

  .women-catalog {
    height: calc((20rem + 1.5rem) * 2);
  }

  .women-short,
  .women-set {
    height: 48vh;
  }

  .men-top,
  .women-catalog,
  .women-short,
  .men-bottom {
    margin-bottom: 1.5rem;
  }

  /* slider section */

  .slider-label {
    height: 2.5rem;
  }

  .slider-label-text {
    font-size: 0.8rem;
  }

  .open-filter {
    display: initial;
  }

  .close-filter {
    z-index: 22;
    position: relative;
  }

  /* shop */

  /* filter col */

  .filter-col {
    margin-top: unset;
  }

  .d-s-none {
    display: none;
  }

  .d-l-none {
    display: unset;
  }

  /* shop catalog */

  .shop-catalog {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}

/**********************************************
        MEDIA QUERY FOR LARGE SCREENS
***********************************************/

@media (min-width: 768px) {
  /* nav/sidebar */

  .sm-nav {
    display: none;
  }

  .bg-nav {
    display: flex;
    margin: 0;
  }

  /* main-content */

  /* hero container */

  .hero-container {
    margin-bottom: 5.5rem;
  }

  /* catalog-content */

  .catalog-section {
    margin-bottom: 8rem;
  }

  .catalog-label {
    display: flex;
  }

  .men-top {
    order: 1;
  }

  .men-bottom {
    order: 4;
  }

  .women-catalog {
    order: 2;
  }

  .men-top,
  .men-bottom,
  .women-catalog {
    height: 100vh;
  }

  .women-short,
  .women-set {
    height: 50vh;
  }

  .men-top,
  .women-set,
  .women-short,
  .men-bottom {
    margin-bottom: 0rem;
  }

  .catalog-image-container {
    margin: 0 3rem;
  }

  /* slider section */

  .slider-label {
    height: 3.2rem;
  }

  .slider-label-text {
    font-size: 1.5rem;
  }

  .open-filter {
    display: none;
  }

  .close-filter {
    display: none;
  }

  /* shop */

  /* filter col */

  .filter-col {
    margin-top: 2rem;
  }

  .d-s-none {
    display: unset;
  }

  .d-l-none {
    display: none;
  }

  /* shop catalog */

  .shop-catalog {
    margin-top: 5.5rem;
    margin-bottom: 2rem;
  }
}
